.classes-container {
    background: #151515;
    border: 2px solid aqua;
    width: 95%;
    margin: 32px;
}

.item {
    border: 2px solid blue;
    width: 30%;
}

/* .class-head {

} */

/* img {
    width: ;
} */

