body {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    margin: 0px;
    padding: 0px;
    background: url("images/home2.png");
    color: white;
    background-size: cover;
    background-position: center ;
  }

  .left {
    position: absolute;
    left: 34px;
    top: 10px;
    display: inline-block;
    border: 2px solid red; 
  }

  .left img {
    width: 50px;
    filter: invert(100%);
    margin-left: 20px;
    height: 40px;
  }

  .left div {
    line-height: 10px;
    font-size: 19px;
    text-align: center;
    margin-bottom: 30px;
  }

  .mid {
    display: block; 
    width: 48%;
    margin: 10px 0px 0px 569px;
    border: 2px solid green; 
  }

  .right {
    position: absolute;
    right: 34px;
    top: 26px;
    display: inline-block;
    border: 2px solid yellow; 
  }

  .navbar {
    display: inline-block;
  }

  .navbar li {
    display: inline-block;
    font-size: 25px;
  }

  .navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
  }

  .navbar li a:hover,
  .navbar li a:active {
    text-decoration: underline;
    color: #E63946;
  }

  .btn {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    margin: 0px 0px;
    background: #E63946;
    color: white;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: rgb(49, 45, 45);
  }

  .container {
    border: 1px solid white;
    margin: 47px 190px;
    padding: 5px;
    width: 74%;
    border-radius: 28px;
    /* padding-left: 60px;
    padding-right: 60px; */
  }

  .form-group input {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
    text-align: center;
    display: block;
    width: 300px;
    padding: 1px;
    border: 1px solid black;
    margin: 10px auto;
    font-size: 17px;
    border-radius: 8px;
  }

  .container p {
    text-align: center;
  }

  .container .head {
    margin-top: 80px;
    margin-bottom: 0px;
    /* padding-top: 30px; */
    font-size: 80px;
    line-height: 60px;
  } 

  .container .sub_head {
    font-size: 24px;
    margin-top: 0px;
  }

  .container button {
    display: block;
    width: 60%;
    margin: 20px auto;
    font-size: 15px ;
  }